
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#title {
    padding: 50px;
    background: linear-gradient(rgba(2, 45, 65, 0.6), rgba(0, 0, 0, 0.6)), url("../media/jpg/Victoria Theater.jpg") no-repeat fixed;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    min-width: 950px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    min-width: 500px;
    margin: 250px auto 200px auto;
    padding: 20px;
}

#arts {
    padding: 20px;
    background-color: #DEE7EF;
    min-width: 600px;
    width: 100%;
    margin-left: -8px;
}

.col-narrow{
    padding: 0px 20px 0px 20px;
    width: 30%;
}

.art-description{
    text-align: justify;
}
