/*The Box Model Fix*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Global*/
.alignment {
    max-width: 70%;
    margin: 0 auto;
}
.translucent-box {
    background-color: rgba(222,231,239,0.7);
}
.section-header {
    font-size: 70px;
    color: mintcream;
}
.section-break-hr {
    height: 3px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #DEE7EF;
    overflow: auto;
}

#title {
    padding: 50px;
    background: linear-gradient(rgba(2, 45, 65, 0.6), rgba(0, 0, 0, 0.6)), url("../media/jpg/Victoria Theatre.jpg") no-repeat fixed;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    min-width: 500px;
    margin: 250px auto 200px auto;
    padding: 20px;
    font-weight: bold;
}

#description {
    text-align: justify;
    background-color: #DEE7EF;
    padding: 20px;
}

#description-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#description-hr {
    width: 40%;
    height: 2px;
    background-color: #191970;
    border: none;
    margin: 0 auto;
}

#description-body {
    max-width: 70%;
    margin: 50px auto;
    font-size: 20px;
}

/*Grid general*/
.grid-section{
    text-decoration: none;
}

    .grid-section:hover {
        color: #191970
    }

.grid-description {
    color: #000000 !important;
}

/*Arts Section*/
#arts-section {
    background: linear-gradient(rgba(2, 45, 65, 0.5), rgba(0, 0, 0, 0.5)), url("../media/jpg/Museum-background.jpg") no-repeat fixed;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
}

#arts-display{
    text-align: center;
}

.art-grid-title{
    height: 80px;
}

.grid{
    width: 100%;
}

div > p{
    text-align: justify;
}

/* Culture Section */
#culture-section {
    background: linear-gradient(rgba(2, 45, 65, 0.6), rgba(0, 0, 0, 0.6)), url("../media/jpg/Culture-Background.jpg") no-repeat fixed;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
}

.culture-grid-title{
    height: 50px;
}

/*Media Query*/

/*Adjust title border when under 950px*/
@media screen and (max-width: 949px) {
    .big {
        font-size: 100px;
        font-family: serif;
        letter-spacing: 20px;
        border: 15px solid white;
        width: auto;
        min-width: 500px;
        margin: 250px auto 200px auto;
        padding: 20px;
    }
}