/*body {
    background: #ff848b;
}*/
.header {
    background-image: linear-gradient(rgba(2, 45, 65, 0.7), rgba(0,0,0, 0.7)), url(../media/jpg/supertree.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    min-width: 950px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    margin: 250px auto 200px auto;
    padding: 20px;
}
#flora {
    background-image: url(../media/jpg/flower-bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: black;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    min-width: 950px;
}

#heading {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FF69B4;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}
#heading:hover {
    color: purple;
    font-size: 70px;
}
#description{
    font-size: 30px;
    text-align: center; 
}
#intro {
    background-color: #DEE7EF;
    padding: 20px;
    min-width: 600px;
    width: 100%;
    margin-left: -8px;
}
#subheading{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}
#flower {
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-left: 100px;
    animation-name: flower;
    animation-duration: 3s;
    animation-iteration-count: 2;
    transition: 5s ease-in-out;
}
/*@keyframes flower {
    0%, 100% {
        transform: rotate(360deg);
    }
}*/
#flower2{
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-left: 1100px;
    animation-name: flower2;
    animation-duration: 3s;
    animation-iteration-count: 2;
    transition: 5s ease-in-out;
}

@keyframes flower {
    0%, 100% {
        width: 100px;
        height: 100px;
    }

    50% {
        transform: rotate(360deg);
        width: 150px;
        height: 150px;
    }

}
@keyframes flower2 {
    0%, 100% {
        width: 100px;
        height: 100px;
    }

    50% {
        transform: rotate(360deg);
        width: 150px;
        height: 150px;
    }
}
.Garden-desc {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9CAAC6;

}
#GBTB-pic{
    width:700px;
    height:550px;
    float:left;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}


