/*body {
    background: #ff848b;
}*/
.header {
    background-image: linear-gradient(rgba(2, 45, 65, 0.7), rgba(0,0,0, 0.7)), url(../media/jpg/supertree.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    margin: 250px auto 200px auto;
    padding: 20px;
}
#flora {
    background-image: url(../media/jpg/flower-bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: black;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}

.heading {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FF69B4;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}
.heading:hover {
    color: purple;
    font-size: 70px;
}
#description{
    font-size: 30px;
    text-align: center; 
}
#intro {
    background-color: #DEE7EF;
    padding: 50px;
    /*margin-left: -8px;*/
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}
.subheading{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    padding: 5px;
}
#flower {
    width: 100px;
    height: 100px;
    animation-name: flower;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 5s ease-in-out;
    float:left;
}

#flower2 {
    width: 100px;
    height: 100px;
    /*margin-top: -75%;*/
    animation-name: flower;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 5s ease-in-out;
    float: right;
}

@keyframes flower {
    0%, 100% {
        width: 100px;
        height: 100px;
    }

    50% {
        transform: rotate(360deg);
    }

}
@keyframes flower2 {
    0%, 100% {
        width: 100px;
        height: 100px;
    }

    50% {
        transform: rotate(360deg);
    }
}
.Garden-desc {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9CAAC6;
    margin: -15px;
}
#GBTB-pic{
    width:700px;
    height:550px;
    
}
.Botanic-desc {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9CAAC6;
    margin: -20px;
}
/*Description*/
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

/*For Gallery*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: auto;
    float: left;
}

/*div.gallery:hover {
    border: 1px solid #777;
 */

div.gallery img {
    width: 200px;
    height: 150px;
    align-content: center;
}

div.desc {
    padding: 15px;
    text-align: center;
}
#butterfly {
    width: 100px;
    height: 100px;
    /*margin-left: 1100px;*/
    animation-name: butterfly;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
   
}
@keyframes butterfly{
    0% {
        margin-left: 1300px;
    }
    100% {
        margin-left: -1500px;
    }

} 

/* Fauna */
#fauna {
    background-image: url(../media/jpg/bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}

/* To Remove underline for linked text */
#BotanicGarden a{
    text-decoration:none;
    color:rebeccapurple;
}
#Gardens-by-The-Bay a {
    text-decoration: none;
    color: rebeccapurple;
}
#SingaporeZoo a {
    text-decoration: none;
    color: rebeccapurple;
}

#Zoo-Desc {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9CAAC6;
    margin: -15px;
}
/* For Table */
table {
    border-spacing: 80 px;
    text-align: center;
    table-layout: fixed;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
