/*body {
    background: #ff848b;
}*/
.header {
    background-image: linear-gradient(rgba(2, 45, 65, 0.7), rgba(0,0,0, 0.7)), url(../media/jpg/supertree.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    margin: 250px auto 200px auto;
    padding: 20px;
}
#flora {
    background-image: url(../media/jpg/flower-bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: black;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}

.heading {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FF69B4;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}
.heading:hover {
    color: purple;
    font-size: 70px;
}
#description{
    font-size: 30px;
    text-align: center; 
}
#intro {
    background-color: #DEE7EF;
    padding: 50px;
    /*margin-left: -8px;*/
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}
.subheading{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center !important;
    padding: 5px;
}
#flower {
    width: 100px;
    height: 100px;
    animation-name: flower;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 5s ease-in-out;
    float:left;
}

#flower2 {
    width: 100px;
    height: 100px;
    /*margin-top: -75%;*/
    animation-name: flower;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 5s ease-in-out;
    float: right;
}

@keyframes flower {
    0%, 100% {
        width: 100px;
        height: 100px;
    }

    50% {
        transform: rotate(360deg);
    }

}
@keyframes flower2 {
    0%, 100% {
        width: 100px;
        height: 100px;
    }

    50% {
        transform: rotate(360deg);
    }
}
.Garden-desc {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9CAAC6;
    margin: -15px;
}
#GBTB-pic{
    width:700px;
    height:550px;
    
}
.Botanic-desc {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9CAAC6;
    margin: -20px;
}
/*Description*/
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

/*For Gallery*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: auto;
    float: left;
}

/*div.gallery:hover {
    border: 1px solid #777;
 */

div.gallery img {
    width: 200px;
    height: 150px;
    align-content: center;
}

div.desc {
    padding: 15px;
    text-align: center;
}
#butterfly {
    width: 100px;
    height: 100px;
    /*margin-left: 1100px;*/
    animation-name: butterfly;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
   
}
@keyframes butterfly{
    0% {
        margin-left: 1300px;
    }
    100% {
        margin-left: -1500px;
    }

} 

/* Fauna */
#fauna {
    background-image: url(../media/jpg/bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
}

/* To Remove underline for linked text */
#BotanicGarden a{
    text-decoration:none;
    color:rebeccapurple;
}
#Gardens-by-The-Bay a {
    text-decoration: none;
    color: rebeccapurple;
}
#SingaporeZoo a {
    text-decoration: none;
    color: rebeccapurple;
}

#Zoo-Desc {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #022D41;
    margin: -15px;
} 

/* For Table */
table {
    border-spacing: 80px;
    text-align: center;
    table-layout: fixed;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 60px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
.box {
    background-color: rgba(254,87,207,0.31);
    width: 500px;
    margin: auto;
}
.column {
    float: left; 
    width: 33.33%;
    text-align:left;
    border: 3px;
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;   
}
.place {
    font-size: 30px;
    line-height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1AA6B7;
    text-align: center;
    font-weight: normal !important;
}
.txt1 {
    font-size: 20px;
    line-height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal !important;
}



/* Slideshow container */
.slideshow-container {
    max-width: 950px;
    position: relative;
    margin:auto;
    margin-top: 50px;

}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


#transport {
    background-image: url(../media/jpg/transport-bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
    color: rebeccapurple;
}

#closing {
    background-image: url(../media/jpg/ref-bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 50px;
    margin-left: -10px;
    margin-right: -20px;
    min-width: 950px;
    color: rebeccapurple;
}
.ref-info{
    text-align:left;
    color: black !Important; 
    font-size: 20px;
    font-weight: bold;
}
.button {
    background-color: #ff848b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
form {
    background: #DAECF3;
    text-align: center !important;
}
/*Like what you've read?------------------------------------------------------------------------------------------------------------*/

.like {
    background-color: #EEEEEE;
    clear: both; /*clear float from above section*/
    background-size: 100%;
    background-attachment: fixed; 
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}
.like1 img {
    display: inline-block;
}

.like1 p {
    display: inline-block;
}

.likebig {
    color: #022D41;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.likesmall {
    color: #A4A9AB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: -10px;
}

/*overlay signup*/
#textonsignup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: #DEE7EF; /*background color of the box*/
}

#overlay1 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.closebuttonpopup1 {
    background-color: #DEE7EF;
    text-decoration: underline;
    border: none;
    display: block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: right;
    margin-left: 80%;
    margin-top: -5%;
}

    .closebuttonpopup1:hover {
        color: white;
        background-color: #DAECF3;
        cursor: pointer;
    }

.signuptitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #022D41;
    font-size: 30px;
}

.signupcontent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

#signupForm {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

    #signupForm label {
        display: inline-block;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #signupForm .inputwidth {
        width: 100%; /*make input field expand*/
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        color: gray;
        margin-bottom: 10px;
    }

    #signupForm .passwordinput {
        margin-bottom: 30px;
        margin-top: 30px;
    }
/*Contact footer------------------------------------------------------------------------------------------------------------------------*/
#contact {
    background-color: #022D41;
    clear: both; /*clear float if any section*/
    background-size: 100%;
    background-attachment: fixed;
    padding: 50px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

.contentcontact {
    width: 600px;
    display: block;
    text-align: left;
}

.authorimage {
    float: left;
    margin-left: 10%;
}

    .authorimage img {
        width: 250px;
        height: 300px;
        border-radius: 50%;
        border: 5px solid #DEE7EF;
    }

.contentcontact {
    display: inline-block;
}

    .contentcontact p:first-child {
        color: #DEE7EF;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .contentcontact p:nth-of-type(2) {
        color: #DEE7EF;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contentcontact p:nth-of-type(3) {
        color: white;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contentcontact p:last-child {
        color: #DEE7EF;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contentcontact a {
        color: white;
    }

        .contentcontact a:hover {
            color: #9CAAC6;
        }

.smicons {
    display: inline-block;
}

    .smicons img {
        background-color: black;
        /*set a black background behind the social media icons */
        margin-left: 5px;
    }

        .smicons img:hover {
            background: #9CAAC6;
            width: 25px;
            height: 25px;
        }

.toparrow {
    display: inline-block;
    margin-left: 5px;
}

    .toparrow img {
        background-color: #9CAAC6;
        border-radius: 50%;
    }

        .toparrow img:hover {
            background-color: #DAECF3;
            width: 45px;
            height: 45px;
        }
/*end of contact footer------------------------------------------------------->*/