nav {
    background-color: #022D41;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

    nav > a {
        padding: 10px;
        margin-right: 20px;
        margin-left: 20px;
        background-color: #022D41;
        display: inline-block;
        color: #DEE7EF;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

a:hover {
    background-color: #1AA6B7;
}
