/*The Box Model Fix*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*body {
    background-color: lightblue;
}*/

.header {
    background-image: linear-gradient(rgba(2, 45, 65, 0.7), rgba(0,0,0, 0.7)), url(../media/jpg/merlion-park.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 20px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    margin: 250px auto 200px auto;
    padding: 20px;
}

.section-wrap {
    max-width: 60%;
    margin: 0 auto;
}

.big2 {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#beautiful {
    color: hotpink;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    0% {
        color: hotpink;
    }

    50% {
        color: deeppink;
    }

    100% {
        color: hotpink;
    }
}

#islandcity {
    color: red;
}

.introduction {
    text-align: justify;
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

    .introduction + p {
        font-size: 30px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#island {
    width: 80px;
    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

hr {
    width: 850px;
    height: 3px;
    background-color: black;
    margin: 10px auto;
    border: none;
}

.introparagraph {
    font-size: 20px;
}

#iconic {
    background-image: linear-gradient(rgba(2, 45, 65, 0.6), rgba(0,0,0, 0.6)), url(../media/jpg/Singapore_Skyline.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: black;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.translucent {
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    width: 80%;
    border-radius: 10px;
}

h2 {
    width: 80%;
    margin: auto;
    color: white;
    text-align: left;
    font-size: 40px;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

h3 {
    height: 65px;
}

.thumbdesc {
    text-align: justify;
}

#exotic {
    background-image: linear-gradient(rgba(2, 45, 65, 0.6), rgba(0,0,0, 0.6)), url(../media/jpg/jetty.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: black;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

#seperator {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

#align {
    width: 80%;
}