/*The Box Model Fix*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #e0f3f9;
}

.header {
    background-image: linear-gradient(rgba(2, 45, 65, 0.7), rgba(0,0,0, 0.7)), url(../media/jpg/mbs.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    padding-top: 30px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    margin: 250px auto 200px auto;
    padding: 20px;
}

.section-wrap {
    max-width: 80%;
    margin: 0 auto;
}

.paragraph {
    font-size: 20px;
    text-align: justify;
}

hr {
    width: 850px;
    background-color: black;
    height: 3px;
    margin: 50px auto;
    clear: both;
    border: 0;
}

.mbs {
    width: 60%;
    float: left;
}

.attparagraph {
    font-size: 18px;
    text-align: justify;
    float: left;
    width: 60%;
}

.image {
    width: 40%;
    float: right;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
}

#map {
    height: 400px;
    border-radius: 25px;
}

td, th {
    font-size: 20px;
    border: thin solid black;
    padding: 10px;
}

table {
    font-size: 18px;
    border: thin solid black;
    border-radius: 10px;
    border-spacing: 0;
}

th {
    background: #1e90ff;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

td {
    padding: 8px;
    border-top: 1px solid white;
    font-size: 12px;
    background: white; /* Two-colour gradient*/
}

/* set the border radius of the bottom corners */
tr:nth-last-child(2) td:first-child { /* Last row first cell */
    border-bottom-left-radius: 10px; /* Bottom left corner */
}

tr:nth-last-child(2) td:last-child { /* Last row last cell */
    border-bottom-right-radius: 10px; /* Bottom right corner */
}


