.header {
    background-image: linear-gradient(rgba(2, 45, 65, 0.7), rgba(0,0,0, 0.7)), url(../media/jpg/thrill.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    margin: 250px auto 200px auto;
    padding: 20px;
}

.big2 {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*text-align:left;*/
    text-align: center;
}

    .big2 span {
        color: #ffd1e8;
        animation-name: colorchange;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

@keyframes colorchange {
    0% {
        color: #ffd1e8;
    }

    25% {
        color: #9CAAC6;
    }

    50% {
        color: #ffd1e8;
    }

    100% {
        color: #9CAAC6;
    }
}

/*Horizontal line*/
.track {
    border: 2px solid lightgrey;
    margin-top: -5px;
    z-index: -50; /*so that cart appears infront of the spinning cup*/
    position: relative;
}

/*cart cup animation*/

#rcart {
    animation-name: movingcart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
    z-index: -100;
}

@keyframes movingcart {
    0% {
        left: 0;
    }

    50% {
        left: 1400px;
        transform: rotateY(360deg);
    }

    100% {
        left: 0;
    }
}

.font1 {
    font-size: 25px;
    color: dimgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


/*Universal Studios Singapore*/
.thrilling {
    background-image: linear-gradient(rgba(255,255,255, 0.85), rgba(255,255,255, 0.8)), url(../media/jpg/try.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px; /*background*/
}
/*USS image*/
.imgdes {
    width: 450px;
    height: 350px;
    margin-left: 15%;
    opacity: 0.9;
    margin-bottom: 20%;
}


/*USS writeup-----------------------------------------------------------------------------------------------------------------------*/
.title1 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

    .title1 a {
        text-decoration: none;
        color: black;
    }

        .title1 a:hover {
            background-color: none;
            cursor: pointer;
        }
/*right*/
.title2 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-right: 10%;
    margin-top: 5%;
}

    .title2 a {
        text-decoration: none;
        color: black;
    }

        .title2 a:hover {
            background-color: none;
            cursor: pointer;
        }

.inline {
    display: inline-block;
}

.marginr {
    margin-left: 10%;
}

.marginrr {
    margin-left: 7%;
}
/*havent decide*/

/*.margintop {
    margin-top: 10%;
}*/

iframe {
    margin-left: 10%;
}

.usstable {
    border-collapse: collapse;
}

    .usstable tr, .usstable td {
        border: 2px solid black;
        font-family: 'Franklin Gothic';
        border-spacing: 1px;
        padding: 5px;
        margin-top: 5%;
        background-color: white;
        font-size: 12px;
    }

    .usstable td {
        background: linear-gradient(#E1E4E5,white);
    }

    .usstable tr:hover td { /*hover effect on table*/
        background: #B2DCEC; /* Background colour */
        color: #339; /* Font colour */
    }

    .usstable a {
        color: black;
        text-decoration: none;
    }

        .usstable a:hover {
            color: floralwhite; /*hover over links*/
            text-decoration: underline;
            cursor: pointer;
        }



caption {
    text-align: left;
}

.cite1 {
    margin-left: 15%;
}

.darkertable {
    background-color: #022D41;
    color: white;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/*zipline*/
.cable {
    margin-top: -1.5%;
    border: 2px solid black;
    opacity: 0.1;
}

#ziplineperson {
    width: 100px;
    height: 100px;
    margin-top: -1.4%;
    animation: ziplining 3s infinite;
    position: relative;
    transform: rotate(-10deg);
}

@keyframes ziplining {
    from {
        left: -100px;
    }

    to {
        left: 1700px;
    }
}

.zippingthrough {
    background-image: linear-gradient(rgba(231,255,235, 0.6), rgba(255,255,255, 0.8)), url(../media/jpg/megazip2.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.megatable {
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 10px;
}

    .megatable table, .megatable tr, .megatable td {
        font-size: 15px;
        padding: 5px;
        border-collapse: collapse;
    }

        .megatable tr:first-child th {
            background: #022D41;
            color: white;
        }

    .megatable td {
        border-top: 1px solid white;
        background: linear-gradient(#DAECF3, azure); /* Two-colour gradient*/
    }

    .megatable th {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
/*Wetmaze-----------------------------------------------------------------------------------------------------------------------*/
.wetmaze {
    background-image: linear-gradient(rgba(218,236,243, 0.8), rgba(255,255,255, 0.8)), url(../media/jpg/wetmaze.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.waves {
    margin-top: -1%;
    border: 2px solid black;
    opacity: 0.1;
}

#jetskiing {
    width: 100px;
    height: 100px;
    animation: jetskiing 3s infinite;
    position: relative;
}

@keyframes jetskiing {
    from {
        left: -100px;
    }

    to {
        left: 1700px;
    }
}

.boxxx {
    margin-top: -7.7%;
}

.title3 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
}

    .title3 a {
        text-decoration: none;
        color: black;
    }

        .title3 a:hover {
            background-color: none;
            cursor: pointer;
        }

.floating {
    float: left;
    display: block;
    margin-left: 5%;
}

.advcovpic {
    width: 450px;
    height: 300px;
    margin-bottom: 10%;
}

.advcovcontent {
    margin-top: -5%;
    display: inline-block;
    margin-left: 8%;
}

.advcovtable, tr, th, td {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: 'Franklin Gothic';
    padding: 5px;
    background-color: white;
    font-size: 12px;
    margin-top: 5%;
}

    .advcovtable th {
        background-color: #F9B247;
    }

    .advcovtable td {
        background: linear-gradient(#FDDDAC,white);
    }

.font3 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    width: 500px;
    height: 350px;
}


/*FORUM-----------------------------------------------------------------------------------------------------------------------*/
.formtitle {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: block;
    margin: 5% auto;
}

.formin {
    display: inline-block;
    margin-left: 5%;
}
/*button*/
.button {
    background-color: #022D41;
    border: none;
    color: white;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

    .button:hover {
        background-color: #9CAAC6;
        cursor: pointer;
    }
/*background*/
.fillinform {
    background: linear-gradient(rgba(218,236,243, 0.8), rgba(255,255,255, 0.8)), url(../media/jpg/order.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    clear: both;
}

.gobottom {
    margin-bottom: 10%;
}

.purchaseform {
    margin: 10% auto;
    width: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstfieldset {
    background: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7));
    padding: 30px;
}

legend {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #022D41;
    text-align: center;
}

.selectplace {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 5% auto;
}

    .selectplace p {
        margin-bottom: 5%;
        font-size: 25px;
        font-weight: bold;
    }

.dateofvisit {
    margin: 5% auto;
    display: block;
    text-align: center;
}

    .dateofvisit span {
        margin-bottom: 10%;
        font-size: 25px;
        font-weight: bold;
    }


#formtableuss {
    margin-left: 5%;
    text-align: center;
}

    #formtableuss caption {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

#formtablemap {
    margin-left: 20%;
    text-align: center;
}

    #formtablemap caption {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

#formtableacw {
    margin-left: 5%;
    text-align: center;
}

    #formtableacw caption {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

.secondfieldset {
    margin-top: 10%;
    background: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7));
    text-align: center;
    padding: 30px;
}

    .secondfieldset label {
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;
    }

.thirdfieldset {
    background: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7));
    padding: 30px;
    margin-top: 10%;
    padding: 30px;
}

    .thirdfieldset label {
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;
    }

.pleasepay {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.visacard {
    display: inline-block;
    margin-left: 20%;
    background: white;
    margin-bottom: 10%;
}

.mastercard {
    display: inline-block;
    margin-left: 5%;
    background: white;
    margin-bottom: 10%;
}

.cardinformation {
    display: block;
    text-align: center;
}

    .cardinformation label {
        margin-right: 20px;
    }

.expiry {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.totalprice {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25px;
}

.lastbutton {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.firstfieldset table, td, tr {
    padding: 20px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#textonoverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: #DAECF3; /*background color of the box*/
}

.closebuttonpopup {
    background-color: #DAECF3;
    text-decoration: underline;
    border: none;
    display: block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: right;
    margin-left: 80%;
    margin-top: -5%;
}

    .closebuttonpopup:hover {
        color: white;
        background-color: #ADD6E5;
        cursor: pointer;
    }

.totalordertext {
    font-size: 30px;
    text-align: center;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #022D41;
}

.proceedtext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: block;
    text-align: center;
    color: black;
}

#confirmationbutton {
    display: block;
    text-align: center;
    margin: 10% auto;
}

#thankyou {
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

/*location1*/
.location1 {
    background-color: #224251;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 1%;
    color: white;
}

.ratings {
    background-color: #224251;
    margin-left: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 1%;
    color: white;
}

.triprating { /*LINK*/
    color: white;
    text-decoration: underline;
    text-decoration-color: #9CAAC6;
}

    .triprating:hover {
        color: #9CAAC6;
        cursor: pointer;
    }

.location12 {
    background-color: #224251;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    margin-bottom: 5%;
    color: white;
}
/*icon of location*/
.locationred {
    float: left;
}
/*icont of blue watch*/
.watchblue {
    float: left;
}

.subtitle {
    font-size: 20px;
}

.subcontent {
    font-size: 15px;
    clear: both;
}

.suggestedroute {
    font-size: 18px;
}

    .suggestedroute:hover {
        color: #9CAAC6;
        text-decoration: underline;
        cursor: pointer;
    }

.suggestedroute {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    color: #9CAAC6;
}

    .suggestedroute .popuptext {
        visibility: hidden;
        width: 360px;
        background-color: #DAECF3;
        color: #022D41;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }


    .suggestedroute .show {
        visibility: visible;
    }

#lastcontent p {
    width: 300px;
    font-size: 15px;
    text-align: center;
}

.moveleftabit {
    margin-left: -25%;
    margin-right: 10%;
}

.smallcite {
    font-size: 12px;
}

.videoframe {
    margin-left: 10%;
}

/*number2 of popup location for map*/
#lastcontent2 {
    width: 400px;
    font-size: 15px;
    text-align: center;
}
/*number3 of popup location for ADW*/

#lastcontent3 {
    width: 400px;
    font-size: 15px;
    text-align: center;
}

#blacktable {
    background-color: lightgray;
}

/*custom scrollsbar----------------------------------------------------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*------------------------extra attartions*/

.otherattractions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
}

.otherattractionsdiv {
    margin-top: 5%;
    margin-bottom: 5%;
}

    .otherattractionsdiv hr {
        border: 2px solid #6F4545;
        width: 15%;
    }

.alignmentattraction {
    float: left;
    width: 310px;
    padding: 8px;
    border: solid 2px #DEE7EF;
    background-color: #DEE7EF;
    margin-left: 7%;
}

    .alignmentattraction hr {
        border: 2px solid #6F4545;
        width: 15%;
    }

    .alignmentattraction img {
        width: 100%;
        height: 60%;
    }

    .alignmentattraction button {
        display: block;
        margin: 10% auto;
        text-align: center;
    }

    .alignmentattraction:hover {
        background-color: #afcad4;
        width: 310px;
    }

.titleattraction {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    width: 300px;
    text-align: center;
    color: #022D41;
}

.textinextra {
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
}
/*Like what you've read?------------------------------------------------------------------------------------------------------------*/
.like {
    background-color: #EEEEEE;
    clear: both; /*clear float from above section*/
    margin-top: 50%;
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

.like1 img {
    display: inline-block;
}

.like1 p {
    display: inline-block;
}

.likebig {
    color: #022D41;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.likesmall {
    color: #A4A9AB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: -10px;
}

/*overlay signup*/
#textonsignup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: #DEE7EF; /*background color of the box*/
}

#overlay1 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.closebuttonpopup1 {
    background-color: #DEE7EF;
    text-decoration: underline;
    border: none;
    display: block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: right;
    margin-left: 80%;
    margin-top: -5%;
}

    .closebuttonpopup1:hover {
        color: white;
        background-color: #DAECF3;
        cursor: pointer;
    }

.signuptitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #022D41;
    font-size: 30px;
}

.signupcontent {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

#signupForm {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

    #signupForm label {
        display: inline-block;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #signupForm .inputwidth {
        width: 100%; /*make input field expand*/
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        color: gray;
        margin-bottom: 10px;
    }

    #signupForm .passwordinput {
        margin-bottom: 30px;
        margin-top: 30px;
    }
/*Contact footer------------------------------------------------------------------------------------------------------------------------*/
#contact {
    background-color: #022D41;
    clear: both; /*clear float if any section*/
    background-size: 100%;
    background-attachment: fixed;
    padding: 50px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}

.contentcontact {
    width: 600px;
    display: block;
    text-align: left;
}

.authorimage {
    float: left;
    margin-left: 10%;
}

    .authorimage img {
        width: 300px;
        height: 280px;
        border-radius: 50%;
        border: 5px solid #DEE7EF;
    }

.contentcontact {
    display: inline-block;
}

    .contentcontact p:first-child {
        color: #DEE7EF;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .contentcontact p:nth-of-type(2) {
        color: #DEE7EF;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contentcontact p:nth-of-type(3) {
        color: white;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contentcontact p:last-child {
        color: #DEE7EF;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .contentcontact a {
        color: white;
    }
        .contentcontact a:hover {
            color: #9CAAC6;
        }

    .smicons{
        display:inline-block;
        
    }
        .smicons img {
            background-color: black;
             /*set a black background behind the social media icons */
             margin-left:5px;
        }

        .smicons img:hover {
            background: #9CAAC6;
            width:25px;
            height: 25px;
        }
/*end of contact footer--------------------------------------------------------------------------------------------------------------*/