.header {
    background-image: linear-gradient(rgba(2, 45, 65, 0.7), rgba(0,0,0, 0.7)), url(../media/jpg/thrill.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.big {
    font-size: 100px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    margin: 250px auto 200px auto;
    padding: 20px;
}

.big2 {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*text-align:left;*/
    text-align: center;
}

    .big2 span {
        color: #ffd1e8;
        animation-name: colorchange;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

@keyframes colorchange {
    0% {
        color: #ffd1e8;
    }

    25% {
        color: #9CAAC6;
    }

    50% {
        color: #ffd1e8;
    }

    100% {
        color: #9CAAC6;
    }
}

/*Horizontal line*/
.track {
    border: 2px solid lightgrey;
    margin-top: -5px;
    z-index: -50; /*so that cart appears infront of the spinning cup*/
    position: relative;
}

/*cart cup animation*/

#rcart {
    animation-name: movingcart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
    z-index: -100;
}

@keyframes movingcart {
    0% {
        left: 0;
    }

    50% {
        left: 1400px;
        transform: rotateY(360deg);
    }

    100% {
        left: 0;
    }
}

.font1 {
    font-size: 25px;
    color: dimgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


/*Universal Studios Singapore*/
.thrilling {
    background-image: linear-gradient(rgba(218,236,243, 0.8), rgba(255,255,255, 0.8)), url(../media/jpg/try.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
/*USS image*/
.imgdes {
    width: 500px;
    height: 350px;
    margin-left: 15%;
    opacity: 0.9;
}


/*USS writeup-----------------------------------------------------------------------------------------------------------------------*/
.title1 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}

    .title1 a {
        text-decoration: none;
        color: black;
    }

        .title1 a:hover {
            background-color: none;
        }
/*right*/
.title2 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-right: 10%;
    margin-top: 5%;
}

    .title2 a {
        text-decoration: none;
        color: black;
    }

        .title2 a:hover {
            background-color: none;
        }

.font2 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.inline {
    display: inline-block;
}

.marginr {
    margin-left: 10%;
}
.marginrr{
    margin-left:7%;
}/*havent decide*/

 .margintop{
     margin-top:10%;
 }
 iframe{
     margin-left:10%;
 }

.usstable, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-family: 'Franklin Gothic';
    padding: 5px;
    margin-top: 5%;
    background-color: white;
    font-size:12px;
}

#blacktable {
    background-color: lightgray;
}

caption {
    text-align: left;
}

.cite1 {
    margin-left: 15%;
}

.darkertable {
    background-color: #DAECF3;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/*zipline*/
.cable {
    margin-top: 0;
    border:2px solid black;
    opacity:0.2;
}

#ziplineperson {
    width: 100px;
    height: 100px;
    margin-top: -1.4%;
    animation: ziplining 3s infinite;
    position: relative;
    transform: rotate(-10deg);
}

@keyframes ziplining {
    from {
        left: -100px;
    }

    to {
        left: 1700px;
    }
}

/*.megazip {
    background-image: linear-gradient(rgba(2, 45, 65, 0.95), rgba(255,255,255, 0.8)), url(../media/jpg/megaadventure.jpg);
    background-size: 100%;
    background-attachment: fixed;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
}*/

/*zipline location box*/
#ziplocation{
    background-color:white;
    border-radius:5px;
    position:absolute;
    margin-top:-70%;
    width:400px;
    padding:30px;
    margin-left:8%;

}
.locationleft{
    float:left;
}
#ziplocation img{
    margin-left:5%;
}

#ziplocation a{
    color:black;
}
#ziplocation a:hover{
    background-color:antiquewhite;
}


