/*The Box Model Fix*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Global*/
.alignment {
    width: 1220px;
    margin: 0 auto;
}

html {
    overflow-x: auto;
}

body {
    min-width: 1vw;
}

.boldtext {
    font-weight: bold;
}

/*Header*/
#title {
    padding: 50px;
    background: linear-gradient(rgba(2, 45, 65, 0.6), rgba(0, 0, 0, 0.6)), url("../../media/jpg/Kampong Glam Header.jpg") no-repeat fixed;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.big {
    font-size: 90px;
    font-family: serif;
    letter-spacing: 20px;
    border: 15px solid white;
    width: 850px;
    min-width: 500px;
    margin: 250px auto 200px auto;
    padding: 20px;
    font-weight: bold;
}

/*Body*/
#main-body {
    clear: both;
}

#about {
    clear: both;
    overflow: hidden;
}

.description-container:before,
.description-container:after {
    content: "";
    display: table;
}

.description-container:after {
    clear: both;
}

.description-container {
    clear: both;
    *zoom: 1;
    margin: 20px auto;
}

.description-alignment-left {
    padding-right: 40px;
    width: 70%;
    float: left;
    text-align: justify;
}

.description-image {
    width: 40%;
    float: right;
    margin: 0;
    padding: 20px 10px 10px 10px;
}

    .description-image img {
        width: 100%;
    }

.description-subheader {
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}

.section-left {
    padding: 0 20px 0 0;
    width: 60%;
    float: left;
    clear: both;
    overflow: hidden;
}

.half {
    clear: both;
    overflow: hidden;
}

/*Events*/
.information-button {
    text-decoration: none;
    font-weight: bold;
}

    .information-button:hover {
        color: #009900;
    }

.event-detail-box {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.accordion {
    background-color: #D0F0C0;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #A6C099;
    }

.add-icon {
    float: right;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #EEEEEE;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.events-panel-left {
    margin: 0;
    float: left;
    width: 20%;
    padding: 10px;
    padding-right: 20px;
}

    .events-panel-left > img {
        width: 100%;
    }

    .events-panel-left > cite {
        font-size: 10px;
        width: 100%;
        text-align: left;
    }

.events-panel-right {
    margin: 0;
    float: right;
    width: 80%;
    padding: 10px;
    padding-left: 20px;
}

.events-panel-right > p{
    margin-top: 0;
}

.EE-section{
    overflow: hidden;
}

/*Sidebar*/
.sidebar-alignment-right {
    padding-right: 40px;
    width: 30%;
    float: right;
}

.sidebar-info {
    margin-top: 80px;
    padding: 10px;
    background-color: #D0F0C0;
    overflow: hidden;
    border-radius: 25px;
}

.sidebar-icon {
    margin: 0;
    margin-top: 20px;
    width: 10%;
    float: left;
}

.sidebar-description {
    margin: 0;
    width: 80%;
    float: right;
}

    .sidebar-description > h3 {
        margin-top: 18px;
    }

.sidebar-hr {
    width: 110%;
    height: 2px;
    margin: 0 auto 0 -10px;
    background-color: #FFFFFF;
    clear: both;
}

.sidebar-link {
    text-decoration: none;
}

    .sidebar-link:hover {
        text-decoration: underline;
    }

/*Map*/
#map {
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 100%;
    height: 400px;
    border-radius: 25px;
}
